<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="liga.medical.personservice.core.repository.AddressRepository">

    <resultMap id="addressEntity" type="liga.medical.personservice.core.model.AddressEntity" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findAll" resultMap="addressEntity">
        SELECT *
        FROM address
    </select>

    <select id="findById" resultMap="addressEntity">
        SELECT *
        FROM address
        WHERE id = #{addressId};
    </select>

    <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO address (contact_id, country_id, city, index, street, building, flat) VALUES
        <foreach collection="addressList" item="address" separator=",">
            (#{address.contactId}, #{address.countryId}, #{address.city},
            #{address.index}, #{address.street}, #{address.building}, #{address.flat})
        </foreach>
    </insert>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO address (contact_id, country_id, city, index, street, building, flat)
        VALUES (#{contactId}, #{countryId}, #{city},
                #{index}, #{street}, #{building}, #{flat});
    </insert>

    <!--    <update id="updateById" parameterType="liga.medical.personservice.core.model.AddressEntity" >-->
    <!--        <if test="id != null">-->
    <!--            UPDATE contact SET-->
    <!--            <if test="contactId != null">-->
    <!--                contact_id = #{contactId},-->
    <!--            </if>-->
    <!--            <if test="countryId != null">-->
    <!--                country_id = #{countryId},-->
    <!--            </if>-->
    <!--            <if test="city != null">-->
    <!--                city = #{city},-->
    <!--            </if>-->
    <!--            <if test="index != null">-->
    <!--                index = #{index},-->
    <!--            </if>-->
    <!--            <if test="street != null">-->
    <!--                street = #{street},-->
    <!--            </if>-->
    <!--            <if test="building != null">-->
    <!--                building = #{building},-->
    <!--            </if>-->
    <!--            <if test="flat != null">-->
    <!--                flat = #{flat},-->
    <!--            </if>-->
    <!--            WHERE id = #{id};-->
    <!--        </if>-->
    <!--    </update>-->

    <update id="updateById" parameterType="liga.medical.personservice.core.model.AddressEntity">
        UPDATE address
        SET contact_id = #{address.contactId},
            country_id = #{address.countryId},
            city       = #{address.city},
            index      = #{address.index},
            street     = #{address.street},
            building   = #{address.building},
            flat       = #{address.flat}
        WHERE id = #{address.id};
    </update>

    <delete id="deleteById">
        DELETE
        FROM address
        WHERE id = #{addressId};
    </delete>
</mapper>