<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="liga.medical.personservice.core.repository.ContactRepository">

    <resultMap id="contactEntity" type="liga.medical.personservice.core.model.ContactEntity" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findAll" resultMap="contactEntity">
        SELECT *
        FROM contact ORDER BY id;
    </select>

    <select id="findById" resultMap="contactEntity">
        SELECT *
        FROM contact
        WHERE id = #{contactId};
    </select>

    <select id="findByEmail" resultMap="contactEntity">
        SELECT *
        FROM contact
        WHERE email = #{email};
    </select>

    <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO contact (phone_number, email, profile_link, password, role) VALUES
        <foreach collection="contactList" item="contact" separator=",">
            (#{contact.phoneNumber}, #{contact.email},
            #{contact.profileLink}, #{contact.password}, #{contact.role})
        </foreach>
    </insert>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO contact (phone_number, email, profile_link, password, role)
        VALUES (#{phoneNumber}, #{email}, #{profileLink}, #{password}, #{role}::user_role);
    </insert>

    <update id="updateById" parameterType="liga.medical.personservice.core.model.ContactEntity">
        <if test="contact.id != null">
            UPDATE contact SET
            <if test="contact.phoneNumber != null">
                phone_number = #{contact.phoneNumber}
            </if>
            <if test="contact.email != null">
                email = #{contact.email}
            </if>
            <if test="contact.profileLink != null">
                profile_link = #{contact.profileLink}
            </if>
            WHERE id = #{contact.id};
        </if>
    </update>

    <delete id="deleteById">
        DELETE
        FROM contact
        WHERE id = #{contactId, jdbcType=BIGINT};
    </delete>
</mapper>