<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="liga.medical.personservice.core.repository.PersonDataRepository">

    <resultMap id="personDataEntity" type="liga.medical.personservice.core.model.PersonDataEntity" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findAll" resultMap="personDataEntity">
        SELECT *
        FROM person_data ORDER BY id;
    </select>

    <select id="findById" resultMap="personDataEntity">
        SELECT *
        FROM person_data
        WHERE id = #{personDataId};
    </select>

    <insert id="insertAll" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO person_data(last_name, first_name, birth_dt, age, sex, contact_id, medical_card_id, parent_id)
        VALUES
        <foreach collection="personDataList" item="personData" separator=",">
            (#{personData.lastName}, #{personData.firstName},
            #{personData.birthDt},
            #{personData.age}, #{personData.sex},
            #{personData.contactId},
            #{personData.medicalCardId}, #{personData.parentId})
        </foreach>
    </insert>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO person_data (last_name, first_name, birth_dt, age, sex, contact_id, medical_card_id, parent_id)
        VALUES (#{lastName}, #{firstName}, #{birthDt},
                #{age}, #{sex}, #{contactId},
                #{medicalCardId}, #{parentId});
    </insert>

    <update id="updateById" parameterType="liga.medical.personservice.core.model.PersonDataEntity">
        <if test="personData.id != null">
            UPDATE person_data SET
            <if test="personData.lastName != null">
                last_name = #{personData.lastName}
            </if>
            <if test="personData.firstName != null">
                first_name = #{personData.firstName}
            </if>
            <if test="personData.birthDt != null">
                birth_dt = #{personData.birthDt}
            </if>
            <if test="personData.age != null">
                age = #{personData.age}
            </if>
            <if test="personData.sex != null">
                sex = #{personData.sex}
            </if>
            <if test="personData.contactId != null">
                contact_id = #{personData.contactId}
            </if>
            <if test="personData.medicalCardId != null">
                medical_card_id = #{personData.medicalCardId}
            </if>
            <if test="personData.parentId != null">
                parent_id = #{personData.parentId}
            </if>
            WHERE id = #{personData.id};
        </if>
    </update>

    <delete id="deleteById">
        DELETE
        FROM person_data
        WHERE id = #{personDataId, jdbcType=BIGINT};
    </delete>
</mapper>